services:
  milo-dev:
    build:
      context: .
      dockerfile: dockerfile
      # args:
      #   USERNAME: proscan
      #   USER_UID: 1000
      #   USER_GID: 1000
    container_name: milo-dev
    tty: true
    volumes:
      - .:/app/Milo/:rw
      - /home/eb-anands/exp/sfm_proj/mihama-gs:/app/Milo/data/mihama-gs:rw
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [gpu]
    environment:
      - NUM_DEVICES=4
      - CUDA_VISIBLE_DEVICES=0,1,2,3